<link rel="stylesheet" href="/static/assets/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css">

<form id="editForm" action="/admin/category/edit" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">修改分类</h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">

                {{with .Category}}
                <input name="Id" type="hidden" value="{{.Id}}">
                <div class="form-group">
                    <label for="CateName" class="control-label sr-only">分类名称</label>

                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="CateName" name="CateName" value="{{.CateName}}"
                               placeholder="名称">
                    </div>
                </div>
                <div class="form-group">
                    <label for="CateColor" class="control-label sr-only">标签颜色</label>
                    <div class="col-sm-12">
                        <div id="EditColorGroup" class="input-group">

                            <input id="CateColor" name="CateColor" type="text" class="form-control" value="{{.CateColor}}"
                                   placeholder="颜色">
                            <div class="input-group-addon">
                                <i></i>
                            </div>
                        </div>
                    </div>
                    <!-- /.input group -->
                </div>
                {{end}}

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">确认保存</button>
    </div>
</form>

<script src="/static/assets/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
<script src="/static/assets/bootstrapvalidator/dist/js/bootstrapValidator.js"></script>
<script type="text/javascript">
    (function ($) {
        $('#editForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                CateName: {
                    validators: {
                        notEmpty: {
                            message: '请填写类型名称.'
                        }
                    }
                }, CateColor: {
                    validators: {
                        notEmpty: {
                            message: "请选择类型颜色."
                        }
                    }
                }
            },
            submitHandler: function (validator, form, submitButton) {
                validator.defaultSubmit();
            }
        });

        $("#EditColorGroup").colorpicker().on('changeColor', function (e) {

        });



    })(jQuery);
</script>