@charset "UTF-8";
@font-face {
    font-family: "SourceHanSansCN-Regular";
    src: url("../fonts/SourceHanSansCN-Regular.woff2") format("woff2"),
    url("../fonts/SourceHanSansCN-Regular.woff") format("woff"),
    url("../fonts/SourceHanSansCN-Regular.ttf") format("truetype"),
    url("../fonts/SourceHanSansCN-Regular.eot") format("embedded-opentype"),
    url("../fonts/SourceHanSansCN-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    /*font-family: SourceHanSansCN-Regular;*/
    padding-top: 70px;
    //line-height: 1.2;
    //font-size: 16px;
    color: #404040;
    overflow-x: hidden;
    font-family: -apple-system,  "PingFang SC","Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

a {
    color: #404040;

}

a:hover,
a:focus {
    /*color: #0085a1;*/
    text-decoration: none;
}

.navbar-boxshow {
    box-shadow: 0px 1px 3px rgba(0,0,0,.25);
    border-top:2px solid #1b6d85;
}
.navbar-custom.is-fixed {
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 0 10px rgba(14, 14, 14, .26);
}
.navbar-custom.is-fixed .navbar-brand,
.navbar-custom.is-fixed .navbar-right a {
    color: black;
}

.navbar-custom.is-fixed .navbar-toggle span {
    background: black;
}


.navbar-custom.is-fixed::before {
    content: ' ';
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
    background: red;
}

.navbar-custom.is-fixed .brand-logo {
    border-radius: 3px;
    background: black;
    color: white;
    padding-bottom: 3px;
    padding-left: 5px;
    margin-right: 5px;
    padding-top: 1px;
}


.navbar-custom .navbar-brand {
    font-weight: 800;
    color: white;
}


.navbar-custom .nav li a {
    font-size: 12px;
    line-height: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(0,0,0,.1);
}

.navbar-custom .nav li a:active a:hover {
    background: rgba(0, 0, 0, 0.12);
}

.tag-label{
    padding: .2em .6em .3em;
    line-height: 2.5;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*文章*/

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #ffffff;

    -webkit-box-shadow: 0 0px 5px #c2c2c2;
    -moz-box-shadow: 0 0px 5px #c2c2c2;
    box-shadow: 0 0px 5px #c2c2c2;
}

.tag-article {
    text-align: center;
    line-height: 24px;
    margin: 20px;
}

/*底部*/

.z-footer {
    display: block;
    text-align: left;
    color: #eeeeee;
    padding: 34px;
    background-color: #3d4450;
}

/*标签*/
.tag-panel {
    text-align: center;
}

.tag-label-a{
    padding: .2em .6em .3em;
    margin: 0 0 10px 0;
}
.tag_list{
    /*padding-bottom: 0px;*/
    margin: 0 20px 0 20px;
}
.tag_list a{
    font-size: 14px;
    line-height: 25px;
}
/*归档*/
.ar-callout {
    padding: 20px;
    margin: 0 0 10px 0px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.ar-callout h4 {
    margin-top: 0;
    margin-bottom: 20px;
}
.ar-callout p {
    font-size: 14px;
}
.ar-callout p:last-child {
    margin-bottom: 0;
}
.ar-callout code {
    border-radius: 3px;
}
/* Variations */
.ar-callout-danger {
    border-left-color: #ce4844;
}
.ar-callout-danger h4 {
    color: #ce4844;
}
.ar-callout-warning {
    border-left-color: #aa6708;
}
.ar-callout-warning h4 {
    color: #aa6708;
}
.ar-callout-info {
    border-left-color: #1b809e;
}
.ar-callout-info h4 {
    color: #1b809e;
}