
<footer class="z-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <!-- 版权信息 -->
                <p class="pull-left">Copyright © 2017 ZevFang.Com - {{i18n .Lang "slogan"}}, All Rights Reserved.</p>
                <!-- 版权信息结束 -->
            </div>
            <div class="col-md-5">
                <ul class="pull-right list-inline text-center linkicon" >
                    <li>
                        <a target="_blank" href="https://cn.linkedin.com/in/%E6%94%BF%E5%A7%94-%E6%96%B9-a19038129?trk=prof-samename-name">

                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o  fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x "></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.zhihu.com/people/fangzhengwei">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-stack-1x ">知</i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://weibo.com/3002195813/profile?topnav=1&wvr=6&is_all=1">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x "></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/zevfang">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x "></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/static/assets/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/static/assets/jquery.cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/assets/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>