<div class="thumbnail visible-md visible-lg animated flipInX">
    <img data-src="holder.js/100%x180" alt="100%x180"
         src="https://avatars0.githubusercontent.com/u/12129455?v=3&amp;s=460"
         data-holder-rendered="true" style=" width: 100%; display: block;">
    <div class="well" style="margin-top: 10px;margin-bottom: 0px;">
        <p><span  class="glyphicon glyphicon-user"></span>  ZevFang(政委)</p>
        <p><span  class="glyphicon glyphicon-map-marker"></span> 北京,中国</p>
        <p><span  class="glyphicon glyphicon-envelope"></span> fangwei0505@gmail.com</p>
        <p><a href="http://github.com/zevfang">GitHub</a></p>
    </div>
</div>

<div class="list-group animated flipInX">
    <a href="/" class="list-group-item active"><span class="badge">14</span>生活系列</a>
    <a href="#" class="list-group-item"><span class="badge">4</span>公众号</a>
    <a href="#" class="list-group-item"><span class="badge">34</span>Goalng</a>
    <a href="#" class="list-group-item"><span class="badge">10</span>C#</a>
    <a href="#" class="list-group-item"><span class="badge">2</span>NodeJs</a>
</div>

<div class="panel panel-default animated flipInX">
    <div class="panel-body">
        <a class="btn btn-xs btn-default tag-label-a" href="#">golang <span class="badge">6</span></a>
        <a class="btn btn-xs btn-primary tag-label-a" href="#">cshrap<span class="badge">7</span></a>
        <a class="btn btn-xs btn-success tag-label-a" href="#">标准库<span class="badge">4</span></a>
        <a class="btn btn-xs btn-info tag-label-a" href="#">完整<span class="badge">1</span></a>
        <a class="btn btn-xs btn-warning tag-label-a" href="#">修饰生活<span class="badge">45</span></a>
        <a class="btn btn-xs btn-danger tag-label-a" href="#">godoc<span class="badge">23</span></a>
        <a class="btn btn-xs btn-default tag-label-a" href="#">情感 <span class="badge">12</span></a>
        <a class="btn btn-xs btn-primary tag-label-a" href="#">职场路径<span class="badge">4</span></a>
        <a class="btn btn-xs btn-success tag-label-a" href="#">美好明天<span class="badge">8</span></a>
        <a class="btn btn-xs btn-info tag-label-a" href="#">Info<span class="badge">0</span></a>
        <a class="btn btn-xs btn-warning tag-label-a" href="#">bootstrap<span class="badge">44</span></a>
        <a class="btn btn-xs btn-danger tag-label-a" href="#">公众号<span class="badge">1</span></a>
    </div>
</div>